<!DOCTYPE HTML >
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>首页</title>
</head>
<body>

<table>
  <tr>
    <td>标题</td>
    <td>作者</td>
    <td>文章</td>
    <td><a href="/add">添加</a></td>
  </tr>
  {{if .Articles}}
    {{range .Articles}}
    <tr>
      <td>{{.Title}}</td>
      <td>{{.Author}}</td>
      <td>{{.Content}}</td>
      <td><a href="/update?id={{.Id}}">修改</a> </td>
      <td><a href="/delete?id={{.Id}}">删除</a></td>
    </tr>
    {{end}}
  {{end}}
</table>


</body>
</html>